body {
    /* font-family: 'Involve-Regular'; */
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
}

.header-group {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
} */


.header-nav,
.header-logo,
.header-buttons {
    flex: 1; /* каждая из 3 секций занимает равную ширину */
    display: flex;
    justify-content: center; /* выравнивание содержимого по центру */
    align-items: center;
}

.header-nav {
    gap: 50px;
}

.header-buttons {
    gap: 30px;
}

.header-nav a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.header-buttons span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.mb-img img {
    width: 100%;
    max-height: 915px;
    object-fit: cover;
}

.mb-img {
    position: relative;
    height: 915px;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    background-position: bottom
}

.mb-buttons-showmore {
    /* position: absolute;
    top: 90%;
    left: 10%; */
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    display: flex;
    justify-content: center;
}

.mbbs-group {
    max-width: 1525px;
    width: 100%;
    padding-bottom: 50px;
}

.mbbs-border {
    /* width: 100%; */
    height: 1px;
    background: #414141;
    margin-top: 10px;
    max-width: 189px;
}

.mpcg-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.main-popular-category {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.mpcg-content {
    display: flex;
    gap: 20px;
}

.mpcg-content-product {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    flex-wrap: wrap;
}

.mpcgc-card-product {
    display: flex;
    flex-direction: column;
    flex: 0 0 23%;
    cursor: pointer;
}

.mpcgc-card-product span {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 20px;
}

.mpcgc-card-product img {
    max-height: 450px;
}

.mpcgc-card {
    display: flex;
    flex-direction: column;
    width: 49%;
    cursor: pointer;
}

.mpcgc-card span {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 20px;

}

.main-popular-category-group {
    max-width: 1525px;
    width: 100%;
}

.akcii-slider {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.akcii-slider-group {
    max-width: 1525px;
    width: 100%;
}

.akg-nav-buttons {
    display: flex;
    gap: 20px;
}




/* .swiper-akcii-predlozhen {
    width: 100%;
    position: relative;
} */

.swiper-akcii-predlozhen-slide {
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    position: relative;
    height: 500px;
    margin-right: 0px !important;
}

.akg-slide-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 100px;
}

.akg-slide-subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.akg-slide-title {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    margin-block-start: 5px;
    margin-block-end: 35px;
}

.akg-slider-button-catalog {
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    width: 40%;
    margin-bottom: 30px;

}

.akg-button-next {
    border: 1px solid white;
    padding: 0px 30px;
    font-size: 28px;

}

.akg-button-prev {
    border: 1px solid white;
    padding: 0px 30px;
    font-size: 28px;
}

.blog-with-news {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.blog-with-news-group {
    max-width: 1525px;
    width: 100%;
}

.bwng-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    max-width: 500px;
    color: #414141;
}

.bwng-content {
    display: flex;
    justify-content: space-between;
}

.bwngc-block {
    display: flex;
    flex-direction: column;
}

.bwngc-block p {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #414141;
    max-width: 270px;
}

.bwngc-block a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #808080;
    padding: 15px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.bwngc-block img {
    max-width: 447px;
}

.bwng-button-show {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.bwng-button-show p {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
}

.gsgl-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    color: #414141;
    max-width: 400px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.gsg-left p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #414141B2;
    margin-block-start: 1em;
    margin-block-end: 4em;
    max-width: 300px;
}

.gsg-left a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #414141;
    border: 1px solid #414141;
    padding: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.gift-sertificates {
    display: flex;
    justify-content: center;
}

.gift-sertificates-group {
    max-width: 1525px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
}

.gsgr-block {
    height: 405px;
    /* width: max-content; */
    max-width: 315px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    justify-content: space-between;
}

.gsg-left {
    width: 20%;
}

.gsg-right {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.gsgr-block p {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFFCC;
    padding: 10px 20px;
}

.gsgr-block span {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding: 10px 20px;
}

.address-shops {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.address-shops-group {
    max-width: 1525px;
    width: 100%;
}

.asg-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    margin-block-end: 2em;
}

.asgl-block p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.asgl-block {
    background: #F7F7F7;
    padding: 20px;
    flex: 0 0 27%;
    height: 140px;
    transition: all 0.3s ease;
}

.asgl-block.active {
    color: #FFFFFF;
    background: #333333;
}

.asgl-block.active p {
    color: #FFFFFF;
}

.asg-left {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 5px;
    max-height: max-content;
}

.asg-content {
    display: flex;
    /* gap: 5px; */
}

.asg-right {
    width: 50%;
    position: relative;
}

.asgr-swiper-slide img {
    width: 100%;
    max-height: 537px;
    object-fit: cover;
}

.asgr-pagin .swiper-pagination-bullet {
    width: 150px !important;
    border-radius: 5px !important;
    background: #FFFFFF;
    opacity: 1;
}

.asgr-pagin .swiper-pagination-bullet-active {
    background: #414141;
}

.asgr-address h4 {
    color: #414141;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

.asgr-address p {
    color: #414141;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.asgr-address span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7E7E7E;
    margin-bottom: 15px;
}

.asgr-address {
    display: flex;
    flex-direction: column;
}

.asgr-item {
    display: none;
}
.asgr-item.active {
    display: block;
}

.index-map {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.index-map-group {
    width: 100%;
}

.index-map-group img {
    width: 100%;
}

.footer-menu {
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-menu-group {
    max-width: 1525px;
    width: 100%;
    display: flex;
    gap: 70px;
}

.fmgl-nav span {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    margin-bottom: 5px;
}

.fmgl-nav a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7E7E7E;
    max-width: 215px;
    cursor: pointer;
    text-decoration: none;
}

.fmgl-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fmg-left {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.fmg-right {
    width: 50%;
}

.fmgr-head h5 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    margin-block-start: 0em;
    margin-block-end: 25px;
}

.fmgr-head span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7E7E7E;
}

.fmgr-messangers span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.fmgr-input {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

.fmgr-messangers {
    display: flex;
    flex-direction: column;
}

.fmgrm-icons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.fmgrm-icons a {
    text-decoration: none;
    cursor: pointer;
}

.fmgr-input input {
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid #414141B2;
    background: #F7F7F7;
    outline: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
}

.fmgr-input button {
    padding: 16px 5px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #414141B2;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    cursor: pointer;
}

.header-nav-mobile {
    display: none;
}

.hnm-burger {
    height: 2px;
    background: #414141;
    width: 30px;
    border-radius: 5px;
    margin-bottom: 7px;
}

.header-buttons-mobile {
    display: none;
}

.swiper-akcii-predlozhen-mobile {
    display: none;
}

.akg-nav-buttons-mob {
    display: none;
}

.gsg-right-mobile {
    display: none;
}

.fmg-left-mobile {
    display: none;
}

.catalog-line-filter {
    display: flex;
    justify-content: center;
}

.catalog-line-filter-group {
    max-width: 1525px;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog-line-filter-group {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #41414180;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-right-sort {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog-right-sort-group {
    max-width: 1525px;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 25px;
}

.crsg-filters a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141E5;

}

.crsg-sort a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141E5;
    margin-left: 5px;
}

.crsg-sort-burgers a {
    cursor: pointer;
}

.crsgsb-icon.active rect {
    fill: black;
}

.product-slider-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.catalog-main-content {
    display: flex;
    justify-content: center;
}

.catalog-main-content-group {
    max-width: 1525px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.product-slider {
    /* max-width: 450px; */
    height: 500px;
    margin: 0px;
}

.cmcg-block {
    flex: 0 0 32%;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.product-pagin {
    display: flex;
    margin-left: 15px;
    padding: 2px;
    background: #00000080;
    border-radius: 10px;
    width: auto !important;
}

.product-pagin .swiper-pagination-bullet {
    width: 8px !important;
    border-radius: 35px !important;
    background: #FFFFFF80;
    opacity: 1;
    margin: 3px !important;
}

.product-pagin .swiper-pagination-bullet-active {
    background: white;
}

.cmcgb-favoritest-product {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    margin: 15px;
    font-size: 40px;
}

.cmcgb-text-price p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    margin-block-start: 2em;
    margin-block-end: 2em;
}

.cmcgb-text-price span {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.cmcgb-text-price {
    max-width: 450px;
}

.product-wrapper {
    max-width: 450px;
}

.pcg-left img {
    max-width: 800px;
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.pcg-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;
}

.product-content-group {
    display: flex;
    gap: 50px;
}

.pcgr-price {
    display: flex;
    align-items: center;
    gap: 50px;
}

.pcgr-head {
    padding-top: 50px;
}

.pcgr-head h1 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    max-width: 320px;
}

.pcgr-price p {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.pcgr-price span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FF0404;
}

.pcgrc-group.active span {
    visibility: visible;
}

.pcgrc-group {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pcgr-color {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px;
}

.pcgrcg-circle-color {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.pcgrc-group.active .pcgrcg-circle-color {
    border: 1px solid #D1D1D1;
}

.pcgrc-group span {
    /* display: none; */
    visibility: hidden;
}

.white {
    background: white;
    border: 1px solid #D1D1D1;
}

.pink {
    background: #FFC3D5;
}

.pcgrr-head p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
    margin-block-start: 2em;
}

.pcgrr-head span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #41414180;
}

.pcgrr-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pcgr-size {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141CC;
    display: flex;
    gap: 20px;
}

.pcgrs-type {
    padding: 5px;
}

.pcgrs-type.active {
    border: 1px solid #414141CC;
}

.pcgr-buttons  {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 58%;
    padding-top: 30px;
}

.pcgr-buttons button {
    background: #333333;
    padding: 20px 35px;
    outline: none;
    color: #FFFFFF;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
    letter-spacing: 2%;
}

.pcgrb-favorites {
    border: 1px solid #33333366 !important; 
    color: #414141 !important;
    background: white !important;
}

.pcgr-buttons a {
    font-family: "Inter", sans-serif;
    color: #414141;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    padding-top: 5px;
}

.pcgri-group span.active {
    text-decoration: underline;
}

.pcgr-info {
    display: flex;
    justify-content: space-between; 
    padding-top: 50px;
}

.pcgri-group span {
    font-family: "Inter", sans-serif;
    color: #414141;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.pcgr-info-text {
    font-family: "Inter", sans-serif;
    color: #414141;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.prg-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}

.product-recomendation {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.recomendation-slide {
    max-width: 500px;
}

.product-recomendation-group {
    max-width: 1525px;
    width: 100%;
}

.raneewatch-slider {
    padding-bottom: 100px;
}

.pcg-left-mobile {
    display: none;
}

.gsgr-block-sertificates {
    max-width: -webkit-fill-available;
}

.gsgr-block-sertificates span {
    padding-bottom: 40px;
}

.gsgr-block-sert-detail {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: unset;
}

.pcgr-sert-type {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.pcgrst-group label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.pcgr-sert-type p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    max-width: 240px;
}

.address-shops-shop {
    padding-top: 0px;
}

.gift-sertificates-shop {
    padding-bottom: 50px;
}

.blog-with-news-blog {
    padding-top: 0px;
}

.bwng-content-blog {
    flex-wrap: wrap;
    gap: 35px;
    padding-bottom: 50px;
}

.history-of-shop {
    display: flex;
    justify-content: center;
}

.history-of-shop-group {
    max-width: 1525px;
    width: 100%;
    gap: 100px;
    display: flex;
}

.hosg-left {
    width: 60%;
}

.hosgl-head h1 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #414141;
    letter-spacing: 0%;
    margin-block-end: 1.0em;

}

.hosgl-text p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #414141B2;
}

.hosgl-text {
    max-width: 700px;
}

.hosgr-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFB2;
}

.hosgr-text p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FFFFFFB2;
}

.hosg-right {
    width: 40%;
    background: #333333;
    padding: 50px;
}

.our-team {
    display: flex;
    justify-content: center;
}

.our-team-group {
    max-width: 1525px;
    width: 100%;
}

.otgc-block img {
    max-width: 440px;
    object-fit: cover;
    height: 435px;
    width: 100%;
    object-position: top;
}

.otg-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 100px;
}

.otgc-block h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 440px;
}

.otgc-block span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 440px;
    display: block;
    width: 100%;
}

.otg-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.otgc-block {
    flex: 0 0 29%;
    padding-bottom: 50px;
}

.reviews-partners {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.reviews-partners-group {
    max-width: 1525px;
    width: 100%;
}

.rpg-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    padding-top: 50px;
}

.rpgh-button-next {
    border: 1px solid #414141;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #414141;
    font-size: 30px;
    padding: 2px 20px;
}

.rpgh-button-prev {
    border: 1px solid #414141;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #414141;
    padding: 2px 20px;
    font-size: 30px;
}

.rpg-head {
    display: flex;
    justify-content: space-between;
}

.rpgh-pagination {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rpgb-avat-name img {
    width: 103px;
    height: 103px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.rpgban-group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.rpg-block {
    background: #F7F7F7;
    padding: 50px;
    max-width: 680px;
        /* margin-right: 20px; */
}

.rpgban-name p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.rpgban-name span {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #41414180;
}

.rpgban-text p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #414141E5;
}

.rpgban-text {
    padding-top: 15px;
}

.rpg-content {
    display: flex;
    gap: 20px;
}

.contact-us {
    display: flex;
    justify-content: center;
}

.contact-us-group {
    max-width: 1525px;
    width: 100%;
}

.cug-head h1 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 30px;
}

.cug-group {
    display: flex;
    justify-content: space-between;
}

.cug-left {
    width: 35%;
}

.cug-right {
    width: 40%;
}

.cugpg-block {
    margin-right: 20px;
}

.cugp-group {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
        gap: 20px;
}

.cugr-group {
    display: flex;
    gap: 50px;
}

.cug-phone h3 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.cug-phone span {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141CC;
}

.cugpg-block span {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141CC;
}

.cugpg-block p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.cugr-email h3 { 
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.cugrg-block span {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141CC;
}

.cugrg-block p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.cugr-social h3 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 40px;
}

.cugrs-soc {
    display: flex;
    align-items: center;
    gap: 20px;
}

.question-or-sugg {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.question-or-sugg-group {
    max-width: 1525px;
    width: 100%;
}

.qosg-head h2 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    max-width: 396px;
}

.qosg-head p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.qosg-form input {
    border: none;
    outline: none;
    padding: 20px;
    background: #F7F7F7;
    margin-right: 10px;
}

.qosg-form button {
    border: none;
    outline: none;
    padding: 20px 50px;
    background: #414141;
    color: white;
}

.blog-detail-text {
    display: flex;
    justify-content: center;
}

.blog-detail-text-group {
    max-width: 800px;
    width: 100%;
}

.bdtg-head h1 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.bdtg-date span {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
}

.bdtg-date a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #414141;
}

.bdtg-content p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141CC;
}

.bdtg-date {
    display: flex;
    gap: 100px;
    padding-bottom: 35px;    
}

.blog-detail-collimg {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.blog-detail-collimg-group {
    max-width: 1525px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-detail-collimg-group img {
    max-width: 690px;
    width: 100%;
    height: 406px;
    object-fit: cover;
    object-position: top;
}

.blog-detail-video {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.blog-detail-video-group {
    max-width: 1525px;
    width: 100%;
}

.blog-detail-video-group video {
    width: 100%;
    height: 100%;
}

.auth-lk {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.auth-lk-group {
    max-width: 1525px;
    width: 100%;
    display: flex;
}

.alg-sidebar {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 32%;
}

.alg-sidebar a {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
}

.alg-sidebar a.active {
    font-family: 'Involve-Regular';
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.algc-head h1 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.algc-auth input {
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid #414141B2;
    outline: none;
    color: #414141B2;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.algc-auth {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.algc-auth button {
    border: 1px solid #333333;
    outline: none;
    padding: 20px;
    background: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #414141;
}

.algc-auth a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #414141B2;
}

.algc-profile-group {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.algc-profile-group label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;   
}

.algc-profile-form button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #414141;
    border: none;
    padding: 0px;
    display: flex;
    padding-top: 15px;
}

.algczm-block {
    display:  flex;
    gap: 40px;
    padding-top: 30px;
}

.algczmb-img img {
    max-width: 160px;
    height: 160px;
    object-fit: cover;
}

.algczmb-right {
    max-width: 765px;
    width: 100%;
}

.algczmbr-date-and-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.algczmbr-status-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alg-content-zakazi {
    width: 90%;
}

.algczmbr-date-and-number p {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.algczmbr-date-and-number span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
}

.algczmbr-status-price p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.algczmbrsp-group p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.algczmbrsp-group a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #414141B2;
}

.algc-head-zakazi {
    display: none;
}

.algcz-button a {
    padding: 20px 60px;
    background: white;
    border: 1px solid #33333366;
    color: #414141;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    margin-right: 10px;
}

.algcz-button a.active {
    padding: 20px 60px;
    background: #333333;
    border: 1px solid #33333366;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
}

.algcz-button {
    padding-bottom: 30px;
}

.algcz-main,
.algcz-main-completed {
    display: none;
}

.algc-favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cmcg-block-favorites {
    flex: 0 0 48%;
}

.algcbs-balance h3 {
    font-family: 'Involve-Regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
        margin-block-start: 0em;
    margin-block-end: 1.5em;
}

.algcbsh-group h5 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.algcbs-hustory p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141;
}

.algcbsh-group span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #414141B2;
}

.algcbsh-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
}